
<web-app>

    <display-name>A Simple Web Application</display-name>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.CrudServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>

</web-app>