<web-app>

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.WorkServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WorkServlet</servlet-name>
        <url-pattern>/work</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.EditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.DeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.StartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.EditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/editor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.NewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.DelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DelServlet</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
</web-app>