<web-app>

    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>ru.job4j.servlets.UsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.WorkServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WorkServlet</servlet-name>
        <url-pattern>/work</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>ru.job4j.crudservlet.Edit</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.DeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.StartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.EditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/editor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.NewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelServlet</servlet-name>
        <servlet-class>ru.job4j.planner.plannerservlets.DelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DelServlet</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartJournalServlet</servlet-name>
        <servlet-class>ru.job4j.journal.servlets.StartJournalServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartJournalServlet</servlet-name>
        <url-pattern>/startjou</url-pattern>
    </servlet-mapping>
</web-app>